<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Cadastro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
</head>
<body>
    <h1>Cadastro</h1>
    <form method="post" action="/cadastro" >
        Email: <input type="text" name="email" id="email"><br>
        Senha: <input type="password" name="senha" id="senha"><br>
        Confirmação de Senha: <input type="password" name="confirmaSenha" id="confirmaSenha"><br>
        Data de Nascimento: <input type="date" name="dataNascimento" id="dataNascimento"><br>
        <input type="submit" value="Cadastrar">
    </form>
    <p id="mensagem"></p>
    <script src="src/controller/login.js"></script>
</body>
</html>





